<div class="coffee-list-container">
  <div class="header-actions">
    <h2>Coffee Inventory</h2>
    <button nz-button nzType="primary" (click)="addCoffee()">
      <span nz-icon nzType="plus"></span> Add New Coffee
    </button>
  </div>

  <nz-table
    #coffeeTable
    [nzData]="coffeeList"
    [nzLoading]="loading"
    nzTableLayout="fixed"
    [nzScroll]="{ x: '800px' }">
    <thead>
    <tr>
      <th nzWidth="200px">Name</th>
      <th nzWidth="120px">Origin</th>
      <th nzWidth="100px">Roast Level</th>
      <th nzWidth="100px">Price</th>
      <th nzWidth="120px">Brewing Temp</th>
      <th nzWidth="160px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coffee of coffeeTable.data">
      <td>{{ coffee.name }}</td>
      <td>{{ coffee.origin }}</td>
      <td>{{ coffee.roastLevel }}</td>
      <td>${{ coffee.price.toFixed(2) }}</td>
      <td>{{ coffee.temperature | temperature:'both' }}</td>
      <td>
        <button nz-button nzType="primary" nzSize="small" (click)="editCoffee(coffee)">
          <span nz-icon nzType="edit"></span>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger nzSize="small" (click)="deleteCoffee(coffee)">
          <span nz-icon nzType="delete"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
